/* Footer Styling */
.footercontent {
    background-color: #121111;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(167, 171, 174);
    padding: 20px;
    text-align: center;
}

#footimage1 {
    width: 114px;
    height: 68px;
    border-radius: 25%;
    margin: -10px 0 20px 0; /* Combined margin properties */
}


.footercontent h5 {
    color: rgb(245, 44, 44);
    font-weight: bold;
}

.icon1,.icon2,.icon3,.icon4{
    color: rgb(237, 247, 247);
}
.icon1:hover{
    color: rgb(59, 154, 0);
}
.icon2:hover{
    color: rgb(231, 37, 37);
}

.icon3:hover{
    color: rgb(12, 103, 0);
}

.icon4:hover{
    color: rgb(54, 148, 255);
}

@media screen and (max-width: 525px) {

    .col h5{
        font-size: 18px;
    }
    li{
        font-size: 13px;
    }

    p{
        font-size: 14px;
    }
}


